@model PSNotes.Models.Note

@{
    ViewData["Title"] = "Your Notes";
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <form asp-area="" asp-controller="Notes" asp-action="Edit" method="post" class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content)
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", placeholder = "Content" })
        </div>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreatedAt)

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("List", "Notes")';">Cancel</button>

        @if (Model != null)
        {
            <!-- TODO: Comment -->
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Notes", new { id = Model.Id })';">Delete</button>
        }

    </form>
</div>
